@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  font-family: 'Roboto', 'Courier New', Courier, monospace;
}

.vw-75 {
  width: 75vw;
}

@media screen and (min-width: 1200px) {
  .row-cols-xl-7 > * {
    flex: 0 0 auto;
    width: calc(100% / 7);
  }
}

@media screen and (min-width: 1400px) {
  .row-cols-xxl-8 > * {
    flex: 0 0 auto;
    width: calc(100% / 8);
  }

  .vw-xxl-60 {
    width: 60vw;
  }
}
